body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
main {
    margin: 0 auto;
    background-color: rgb(236, 243, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

details {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 8px;
}

details[open] {
    border: 2px solid lightblue;
    padding: 0;
    text-align: end;
}

details[open] summary {
    margin: 0;
    padding: 4px;
    color: rgb(63, 105, 223);
    background-color: lightblue;
    font-weight: 800;
   
}
summary {
    list-style: none;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::after {
    content: "+";
    transition: transform 0.2s;
}

/* animación al abrir */
details[open] summary::after {
    transform: rotate(45deg);
}

details p {
    padding: 0px 10px;
}